@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url('../styles/colores.css');

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
#menu li, a {
    margin: 75px 0 -55px 0;
    color: var(--color-primario);
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
#menu li {
    width: 230px;
    text-indent: 56px;}
#menu a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}
.asideHeader {
    position: absolute; /* Cambiado a fixed */
    color: white;
    top: -2em; /* Ajusta la posición superior según sea necesario */
    right: 2em;
    /* margin-left: 130px; */
    text-align: right;
    z-index: 0;
    display: flex;
    width: 85%;
    margin-top: 0;
    justify-content: space-between;
}
.tituloPagina {
    line-height: 0;
    z-index: 0;
    margin-right: 20px; 
    display: flex;
    align-items: center;
}
.tituloPagina>h1{
    margin: 0.2em;
    font-size: 5vw;
    font-weight: 700;
    
}
.iconoHeader{
    width: 5vw;
    height: 5vw;
}

@media screen and (min-width: 1000px) {
    .asideHeader{
        width: 90%;
        top: -1.5em;
    }
    .tituloPagina>h1{
        margin: 0.2em;
        font-size: 2em;
        font-weight: 700;
        
    }
    .tituloPagina>.iconoHeader{
        width: 2em;
        height: 2em;
        
    }


}

@media screen and (max-width: 1000px) {
    .asideHeader{
        width: 80%;
        top: -1.2em;
    }


}

@media screen and (max-width: 800px) {

    .asideHeader{
        width: 70%;
        padding-top: 1em;
        top: -0.7em;
    }
    
}

@media screen and (max-width: 550px) {

    .asideHeader{
        flex-direction: column;
        align-items: center;
        right: 0em;
    }
    .tituloPagina>h1{
        margin: 0.2em;
        font-size: 7vw;
        font-weight: 700;
        
    }
    .tituloPagina>.iconoHeader{
        width: 7vw;
        height: 7vw;
        
    }
    
}







.asideHeader>.tituloPagina{
    font: 37pt "Roboto", sans-serif;
    font-weight: 800;
    line-height: 1.8;
    /*position: absolute; /* Cambiado a fixed */
    color: white;
    /*top: -1.2em; /* Ajusta la posición superior según sea necesario */
    /*left: 4em; /* Ajusta la posición derecha según sea necesario */
    text-align: right;
    z-index: 1;
}
#trigger, #burger, #burger:before, #burger:after {
    position:absolute;
    top: 25px;
    left: 25px;
    background: var(--color-primario);
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}

#botonMenu{
    position: fixed;
    top: 25px;
    left: 255px;
}




#trigger {
    
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
    
}
#burger:after {
    content: " ";  
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
    z-index: 100;
    
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: fixed;
    margin: 0; padding: 0;
    width: 110px;
    max-width: 50em;
    
    height: 110px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu::after {
    min-width: 220px;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 4s ease both;
    max-width: 25%;
    min-width: 220px;
}


#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
/* Aplicar estilos al h1 cuando la casilla de verificación está marcada (menú abierto) */
#menu-toggle:checked + #trigger ~ #burger + #menu > .tituloPagina {
    color: red; /* Cambiar el color a tu elección */
    transition: color 0.3s ease; /* Agregar una transición de color suave */
  }

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

#menu, ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

#menu, ul  li  img {
  margin-right: 1em;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-secundario);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 7em;
}

.button:hover {
    color: var(--color-terciario);
    background-color: white;
    border-color: var(--color-terciario);
    transform: scale(1.05);
}

/* Agregar sombra al botón al hacer hover */
.button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Estilo adicional para cuando el botón está desactivado */
.button:disabled {
    background-color: #bdc3c7;
    color: #7f8c8d;
    cursor: not-allowed;
}

.cerrarSesion{
    width:9em;
}

.usuarioAside{
    display: flex;  
    align-items: center;
    justify-content: flex-end; 
    margin : 0;
}
.usuarioAsideLink {
    align-items: center;
    justify-content: flex-end; 
    margin : 0;
    display: inline-flex;
}

.usuarioAsideLink>label{
    margin: 0;
    margin-right: 0.5em;
    color: white;}