.cardCasa{
    background-color: white;
    color:  var(--color-primario);
    margin: 1em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1.5em;
}

.tituloCasa {
    background-color: var(--color-terciario);
    color:  white;
    margin: 1em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1.5em;
}

.card2Casa {
    background-color: var(--color-primario)!important;
    color:  white!important;
    margin: 1em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1.5em;
    text-align: center;

}
.card3Casa {
    background-color: var(--color-secundario);
    color: white;
    margin: 1em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1.5em;
    text-align: center;
}
.datosCasa{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.crearCodigo {
    width: 40%;
    margin: 2em;
}
.containerCasa {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconoCasaerfil {
    margin: 1em;
}

.cambiarRol{
    background-color: red;
    color: white;
    font-size: 0.7em;
    width: auto;
}
.miembrosCasa {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.miembroCasa {
    margin-right: 1em;
}